
.navbar {
    .form-control {
        padding: 1.6rem 2rem;
        border-width: 0;
        border-radius: 0;
        text-transform: uppercase;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    &:focus {
        color: #fff;
        border-color: transparent;
        background-color: #293038;
        box-shadow: inherit;
        outline: none;
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

#img-upload{
    width: 100%;
}

.thumbnail-photo-list {
    object-fit: cover !important;
    width: 80px;
    height: 80px !important;
}

.fileinput-exists.thumbnail img,
.thumbnail-photo {
    object-fit: cover;
    width: 110px;
    height: 110px;
    position: absolute;
    left: 20%;
    top: -75%;
}

.thumbnail-show {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.dashboard {
    .card {
        .card-body {
            overflow-y: scroll;
            height: 195px;
        }
    }
}
